.container-fluid{
 font-family: Poppins;
}
.container-fluid, .col, .row{
  justify-content: center;
  text-align: center;
  align-self: center;
}
h1{
  font: semibold 48px/64px Poppins;
  text-transform: uppercase;
  color: white;
  max-width: 640px;
  margin: 0 auto 100px;
}
h2{
  font: bold 40px/52px Poppins;
  text-transform: uppercase;
  width: fit-content;
  padding: 0 30px;
  margin: auto;
}
h5{
  font: 18px/24px Poppins;
  text-transform: uppercase;
}
#first{
  background: url(/img/first_bkground.png) no-repeat center center;
  min-height: 450px;
  height: 42vw;
  max-height: 1000px;
  padding: 20px;
}
#first a{
  width: 50px;
  position: fixed;
  top: 40%;
  right: 20%;
  z-index: 1;
}
#espaco{
  padding: 35px 0;
  background-color: #F2F2F2;
}
#espaco h2, #tour h2 {
  margin-bottom: 20px;
  background: linear-gradient(#F2F2F2 50%, #F05A28 50%);
}
#espaco .col:not(#title):not(.pop_up){
  min-width: 300px;
  max-width: 440px;
  padding: 10px;
}
#espaco .hero-img{
  padding-bottom: 100%;
}
#espaco h6{
  background-color: black;
  position: absolute;
  top: 60px;
  padding: 15px 25px;
  color: white;
  font: bold 24px/35px;
}
#work-space{
  background: url(/img/____3096\ GERAL\ LATERAL\ SALAS.png) no-repeat center center;
  background-size: cover;
}
#meeting-space{
  background: url(/img/____3117\ SALA\ COM\ 3\ MESAS.png) no-repeat center center;
  background-size: cover;
}
#work-table{
  background: url(/img/____3165\ MESA\ VIDRO\ SAIDA.png) no-repeat center center;
  background-size: cover;
}
.modal-header{
  border: none;
  padding-bottom: 0;
}
.modal-header button.close{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 0 0 auto;
  padding: 0;
  background-color: #F23E3E;
  color: white;
  font-size: 31px;
  text-shadow: none;
  opacity: 1;
  font-weight: 500;
}
#space_popup .close:focus, #space_popup button.close:hover{
  opacity: 1;
  outline: unset;  
}
.modal-dialog{
  width: 95%;
  max-width: 1000px;
}
.modal-body{
  padding: 0 55px 44px;
}
#space_popup ul{
  list-style: none;
  padding: 0;
}
.modal-title{
  font: bold 40px/60px Poppins;
  text-transform: uppercase;
  margin-bottom: 55px;
}
#space_popup li{
  text-align: start;
  font: 500 28px/42px Poppins;
  padding-bottom: 16px;
}
#space_popup li:before{
  content: "\2022";
  color: #2C17B1;
  font-weight: 900;
  display: inline-block; 
  font-size: 30px;
  margin-right: 14px;
}
#space_popup p{
  font: 500 24px/32px Poppins;
  padding: 40px 0 56px;
}
.modal-body .col{
  min-width: unset;
  max-width: 270px;
  padding: 0;
}
.modal-body img{
  max-width: 100%;
  object-fit: contain;
}
#servicos, #pics, #uniao{
  padding: 90px 0;
  max-width: 1320px;
  margin: auto;
}
#servicos h2, #pics h2 {
  color: #2C17B1;
  background: linear-gradient(white 50%, #F2F2F2 50%);
  margin-bottom: 5px;
}
#servicos .col:not(#title){
  align-self: stretch;
  background-color: #F2F2F2;
  max-width: 220px;
  min-height: 280px;
  margin: 28px;
  padding: 45px 20px;
}
#servicos img{
  height: 170px;
  object-fit: none;
  width: min-content;
  margin-bottom: 23px;
}
#tour{
  background: linear-gradient(-11deg, white 35%, #F2F2F2 35%);
  /*background-size: 2000px auto;
  background-position: bottom left;*/
  min-height: 630px;
}
#title{
  margin-bottom: 30px;
}
#piclibrary .c3{
  max-width: 1250px;
  margin: auto;
}
#piclibrary .c3 .col{
  align-self: stretch;
  padding: 15px 10px;
}
#piclibrary .c2 .col{
  align-self: stretch;
  padding: 0 34px;
}
#piclibrary img, #zen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#zen .col{
  max-width: 750px;
}
#zen h2{
  margin: 65px auto 35px;
  background: linear-gradient(white 50%, #F05A28 50%);
}
#zen p{
  background-color: #2ECC71;
  padding: 65px;
  max-width: 630px;
  color: white;
  font: 20px/32px Poppins;
  margin: auto;
}
.nav-pills{
  justify-content: center;
}
.nav-item{
  max-width: 25%;
}
.nav-link{
  padding: 24px 8px;
  max-width: 180px;
}
.nav-link.active{
  display: none;
  width: 0;
}
.tab-content{
  width: 100%;
  max-width: 650px;
  margin: auto;
}
#blog, #contact{
  background-color: #101010;
  padding: 35px 0;
}
#blog h2, #contact h2{
  color: white;
  background: linear-gradient(#101010 50%, #2C17B1 50%);
}
#blog .col:not(#button):not(#title){
  max-width: 360px;
  background-color: white;
  border-radius: 10px;
  margin: 0 32px 48px;
  padding: 0;
}
#blog img {
  width: 100%;
}
h4{
  font: bold 24px/24px Segoe UI;
  text-transform: uppercase;
  text-align: start;
  color: #2C17B1;
  margin: 23px 0 14px 23px;
}
#blog p{
  font: 16px/24px Poppins;
  color: black;
  text-align: start;
  padding: 0 23px 23px;
  margin: 0;
}
button.btn, input.btn{
  padding: 12px 70px;
  text-transform: uppercase;
  font: 500 24px/35px Poppins;
  border-color: white;
  color: white;
}
button.btn:hover, input.btn:hover, button.btn:active, input.btn:active{
  background-color: white;
  color: #2C17B1;
}
#uniao h2{
  color: #2C17B1;
  background: linear-gradient(white 50%, #F2F2F2 50%);
  margin-bottom: 35px;
}
#uniao p:first-of-type, #uniao p:last-of-type{
  font-weight: 600;
  margin-bottom: 40px;
}
#logo{
  margin: 40px 0 10px;
  width: 150px;
}
#uniao img:not(#logo){
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
#social_media h2{
  margin-bottom: 20px;
  background: linear-gradient(white 50%, #F05A28 50%);
}
#social_media .col:not(#title){
  padding: 15px 32px 90px;
  max-width: 140px;
}
#social_media i{
  font-size: 75px;
}
#facebook a{
  color: #4267B2;
}
#instagram img{
  width: 67px;
}
#linkedin a{
  color: #2867B2;
}
#form_contact{
  max-width: 780px;
}
#mapa{
  max-width: 390px;
  padding-left: 0;
}
#mapa p{
  font: Bold 16px/22px Poppins;
  color: white;
  margin: 32px 0;
}
#contact form{
  margin: 32px auto;
}
div.form-group:not(.form-row), .form-group .col{
  align-self: flex-start;
  text-align: left;
  padding: 0 15px;
}
.form-group{
  margin-bottom: 25px;
}
#contact label{
  color: white;
  font: 500 14px/21px Poppins;
}
mark{
  color:#F23E3E;
  font: 500 14px/21px Poppins;
  background-color: #101010;
}
#contact input:not([type="submit"]){
  height: 50px;
}
#contact textarea{
  height: 140px;
  padding: 12px;
}
#contact input:not([type="submit"]), #contact textarea{
  background-color: #F2F2F2;
  border-radius: 10px;
  font: 16px/22px Poppins;
  color: black;
}
#form_contact .form-control.is-invalid, #form_contact .was-validated .form-control:invalid{
  border-color: #F23E3E;
}
#form_contact .invalid-feedback{
  color: #F23E3E;
  font: 500 14px/21px Poppins;
}